{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block title %}Rating{% endblock %}

{% block content %}
	<h3>
		Fairness Rating
	</h3>
	<p>
		You received {{ offer }} out of {{ endowment }} in this round from the other player. 
		Do you consider this a fair allocation?
	</p>
	{% formfield player.rating %}
	
	<div style="text-align: center;">
		You have played <strong>{{current_round}}</strong> of <strong>{{max_rounds}}</strong> rounds.
	</div>
{% next_button %}
{% endblock %}