{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Feedback from other player{% endblock %}

{% block content %}
<p>
	Here is the summary of round <strong> {{decrement_round_number}}</strong>
</p>
<p>
You decided to keep <strong>{{kept}}</strong> and offer <strong>{{offer}}</strong>. <br>
</p>

<p>
{% if player_option == "reject" and rejection_option == "Accept" %}
	The other player chose to <strong>accept</strong> your offer. 
{% elif player_option == "reject" and rejection_option == "Reject"  %}
	The other player chose to <strong>reject</strong> your offer. 
    This means <strong>neither</strong> of you will receive any points.
{% elif player_option == "rating" %}
	The other player rated this offer as <strong>{{rating}}</strong>.
{% endif %}
</p>

{% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
