{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Feedback from other player{% endblock %}

{% block content %}
<p>
	Here is the summary of round <strong> {{decrement_round_number}}</strong>
</p>
<p>
You decided to keep <strong>{{kept}}</strong> and offer <strong>{{offer}}</strong>. <br>

{% if player_option == "reject" %}
    The other player chose to <strong>{{rejected}}</strong> your offer. 
{% elif player_option == "rating" %}
    The other player rated this offer as <strong>{{rating}}</strong>.
{% endif %}
<!--The other player rated this as <strong>{{rating}}</strong>, while choosing to <strong>{{rejected}}</strong> your offer. <br>-->

</p>

{% next_button %}

    {% include Constants.instructions_template %}

{% endblock %}
