{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <div>
        <p>
            1. You will play one of 2 roles: DICTATOR and RECEIVER.
        </p>
        <p>
            2. Each round, the DICTATOR gets {{ Constants.endowment }} to split up among the two of you in whichever way they choose.
        </p>
        <p>
            3. The RECEIVER first tries to predict how much each DICTATOR will share with them. Then they will see the actual amount shared with them, and rate this amount as FAIR or UNFAIR.
        </p>
        <p> 4. The game may be for several rounds and with multiple players...
        </p>
        --- GOOD LUCK! ---
    </div>
</div>
