{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <div>
        <p>
            1. In each round, you will play one of 2 roles: ALLOCATOR or RECEIVER.
        </p>
        <p>
            2. The ALLOCATOR gets {{ Constants.endowment }} to split up among the two of you in whichever way they choose.
        </p>
        <p>
            3. The RECEIVER first tries to predict how much the ALLOCATOR will share with them. Then they will see the actual amount shared with them, and rate this amount as FAIR or UNFAIR.
        </p>
        <p> 4. The game may be repeated with different roles and different players...
        </p>
        --- GOOD LUCK! ---
    </div>
</div>
